@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
    background-image: url("https://e0.pxfuel.com/wallpapers/329/765/desktop-wallpaper-web-design-dark-developer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    
}

.topbar {
  @apply fixed top-0 z-30 flex w-full items-center justify-between bg-slate-800 text-white px-6 py-2;
}
.sampleQue{
  @apply mt-1 cursor-pointer p-2 text-sm rounded-lg hover:bg-indigo-100 hover:border-indigo-100 border-2 border-gray-100 w-fit;
}

